<!DOCTYPE html>

{% block html %}
    <html lang="{% block html_language 'en' %}">
        {% block html_content %}
            {% block head %}
                <head>
                    {% block head_content %}
                        {% block head_meta %}
                            <meta charset="utf-8">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                        {% endblock %}
                        <title>{{ block('html_title') }}</title>
                        {{ block('stylesheets') }}
                        {{ block('javascripts_head') }}
                    {% endblock %}
                </head>
            {% endblock %}
            {% block body %}
                <body>
                    {{ block('body_content') }}
                    {{ block('javascripts_body') }}
                </body>
            {% endblock %}
        {% endblock %}
    </html>
{% endblock %}
